.course_dropdown_section {
    width: 1040px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.course_dropdown {
    width: 140px;
    height: 40px;
    padding: 5px;
    border-radius: 16px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    background-color: white;
    outline: none;
    border: none;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.course_dropdown:hover {
    border: none;
    background-color: white;
}

.course_dropdown:active {
    border: none;
    background-color: white;
}

.course_dropdown:focus {
    border: none;
    background-color: white;
}

.course_dropdown_item {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #f2f2f2;
}

.course_filter_card {
    min-width: 150px;
    height: 320px;
    position: relative;
    top: 190px;
    left: -130px;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 999;
}

.liststyle {
    width: 180px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
}

input {
    margin-right: 5px;
}

input:focus {
    outline: none;
}

.course-color {
    color: #4332a6;
}

.course-bg {
    background-color: #d8d4ee;
}

.alignstyle {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    object-fit: contain;
}