.dash-info {
    width: 756px;
    border-radius: 16px;
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.dash-info-head {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a39ec9;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

/* DASH ITEM CSS */

.dash-item {
    height: 50px;
    width: 190px;
    border-radius: 10px;
    border: solid 1px #cacaca;
    background-color: white;
    text-align: left;
    padding-left: 10px;
}

.dash-item:hover {
    border: solid 1px #4332a6;
    background-color: #f1efff;
}

.dash-title {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4944b2;
}

.dash-type {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #8f84b7;
}