.head {
  height: 350px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  background-color: #4332a6;
}

@media (min-width: 768px) {
  .main-header {
    justify-content: space-between;
  }
}

.logo {
  margin-top: 20px;
  width: 100px;
  height: 35px;
  margin-bottom: 33px;
}