body {
  margin: 0;
  background-color: #f0f4f8 !important;
  font-family: Source Sans Pro !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input.yourclassname::placeholder {
  color: white;
  opacity: 1;
}

button:focus {
  outline: none;
}